numpy >= 1.15.4	 
pytorch >= 1.0.0	 
torchvision >= 0.2.1   
opencv >= 3.4.2	  
pandas >= 0.23.4	 
matplotlib >= 3.0.2	   
pillow >= 5.3.0   
pathlib2 >= 2.3.3	  
flask >= 1.0.2
more-itertools >= 4.3.0
pickleshare >= 0.7.5	 
tqdm >= 4.28.1	  
scikit-learn >=	0.20.1	  
backports.shutil_get_terminal_size >= 1.0.0   
